{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

 <h1> Liste des Tâches:</h1>

<div class= "class-container">
    <table class= "table table-bordered">
        <Thead>
            
                <tr>
                    <td>id</td>
                    <td>title</td>
                    <td>description</td>
                    {# <td>status</td> #}
                    <td>actions</td>
                </tr>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        {# <td>{{ task.is_done }}</td> #}
                        <td><a href="{{path('app_edit_task',{'id': task.id})}}" class="btn btn-primary">modifier une tâche</a></td>
                    </tr>            
                    {% else %}
                        <span>Pas de tâches enregistrées</span>    
                    {% endfor %}

                    <div>
                        <a href="{{path('app_new_task')}}" class="btn btn-primary">Nouvelle tâche</a>
                    </div>
                </tbody>
        </Thead>
    </table>
</div>
{% endblock %}
