{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

 

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">

        <h1> Liste des Tâches:</h1>

            <table class= "table table-bordered">
                <Thead>
                    
                        <tr>
                            
                            <td>title</td>
                            <td>description</td>
                            <td>status</td>
                            <td>Progression de la tâche</td>
                            <td>actions</td>
                        </tr>
                        <tbody>
                            {% for task in tasks %}
                            <tr>
                                
                                <td>{{ task.title }}</td>
                                <td>{{ task.description }}</td>
                                
                                <td>
                                    {% if task.isDone == true %}
                                        <span class="badge text-bg-success">Success</span>
                                        {% else %}
                                        <span class="badge text-bg-info">A faire</span>
                                    {% endif %}
                                </td>
                                <td>

                                    {% if task.progression <= 25 %}
                                        <div class="progress" role="progressbar" aria-valuenow="{{ task.progression }}" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-danger" style="width: {{ task.progression }}%"></div>
                                        </div>
                                    {% elseif task.progression > 25 and task.progression <= 50 %}
                                        <div class="progress" role="progressbar" aria-valuenow="{{ task.progression }}" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-warning" style="width: {{ task.progression }}%"></div>
                                        </div>
                                    {% elseif task.progression > 50 and task.progression <= 75 %}
                                        <div class="progress" role="progressbar" aria-valuenow="{{ task.progression }}" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-info" style="width: {{ task.progression }}%"></div>
                                        </div>
                                    {% elseif task.progression > 75 and task.progression <= 99 %}
                                        <div class="progress" role="progressbar" aria-valuenow="{{ task.progression }}" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-primary" style="width: {{ task.progression }}%"></div>
                                        </div>
                                    {% else %}
                                        <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-success" style="width: 100%"></div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td><a href="{{path('app_edit_task',{'id': task.id})}}" class="btn btn-primary">modifier une tâche</a></td>
                            </tr>            
                            {% else %}
                                <span>Pas de tâches enregistrées</span>    
                            {% endfor %}

                            
                        </tbody>
                </Thead>
            </table>
            <div>
                <a href="{{path('app_new_task')}}" class="btn btn-primary">Nouvelle tâche</a>
            </div>
        </div>
    </div>   
</div>
{% endblock %}
