{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tache{% endblock %}

{% block body %}
    <h1>Créer une nouvele tâche:</h1>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {# {{ form_row(form.is_done) }} #}
        <button>{{button_label|default ("Sauvegarder")}}</button>
      {{ form_end(form) }}
{% endblock %}
